@import url(normalize.css);

@import url(header.css);

@import url(main.css);

@import url(section.css);

@import url(information.css);

@import url(product.css);

@import url(collection.css);

@import url(contact.css);

@import url(footer.css);





/* COLLECTION CSS START*/
.gen-item:hover{
  box-shadow:  inset 0 0 25px rgb(211, 211, 224);
  border-radius: 5px;

}

.gen-item {
  width: 31%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 15px 15px;
}

/* COLLECTION CSS END */
